.file {
    background-color: white;
    height: 17em;
}

.file-name {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

.popover-header {
    background-color: white;
}

.file-image {
    height: 85%;
    padding: 15px;
    object-fit: scale-down;
}

.file-modal-image {
    padding: 15px;
    object-fit: scale-down;
}