.file {
    background-color: white;
    height: 17em;
}

.file-name {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

.popover-header {
    background-color: white;
}

.file-image {
    height: 85%;
    padding: 15px;
    object-fit: scale-down;
}

.file-modal-image {
    padding: 15px;
    object-fit: scale-down;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}